{% extends 'store/nav.html' %}
{% block title %}
JustChola Set Password
{% endblock title %}

{% block body %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
    
    
<h1>Set Password</h1>


<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Set New Password</header>
            <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
                {% csrf_token %}

                <label for="password1">Password</label>
                <div class="field input-field">
                    <input type="password" class="form-control" id="password1" name="password1" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                
                <label for="password2">Confirm Password</label>
                <div class="field input-field">
                    <input type="password" class="form-control" id="password2" name="password2" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>


                <div class="field button-field">
                    <button class="bg-success text-white">Reset Password</button>
                </div>
            </form>

            <div>
                <!-- to show errow messages-->
                {%for message in messages%}
                <h3>{{ message }}</h3>
                 {% endfor %}
            </div>

            <div class="form-link">
                <br>
                <br>
                <span><a href="/accounts/login" class="link signup-link">Go back?</a></span>
            </div>
        </div>

    </div>
</section>

<div class="col-md-8"></div>
    
</div>
{% endblock body %}


